[submodule "Interop/extern/crossguid"]
	path = Interop/extern/crossguid
	url = https://github.com/graeme-hill/crossguid
	branch = master
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
